<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-label color="white" class="ion-margin ion-padding-start">
      Bienvenue مرحبا بك
      <p>
        <ion-text color="black" class="ion-margin ion-padding-start"
          >à AdMars في أد مارس</ion-text
        >
      </p>
    </ion-label>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-row>
    <ion-fab vertical="top" horizontal="end">
      <ion-fab-button color="danger" (click)="signIn()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-list lines="full">
      <ion-list-header class="ion-margin">
        <ion-label>Validation du numéro</ion-label>
      </ion-list-header>
      <ion-item-group class="ion-margin-horizontal ion-margin-bottom">
          <ion-item>
            <ion-label floating>OTP</ion-label>
            <ion-input
              [(ngModel)]="form.otp"
              name="otp"
              placeholder="entrez le code envoyer"
              type="text"
            ></ion-input>
          </ion-item>

          <div id="sign-in-button" ></div>

          <div class="ion-margin-vertical">
            <ion-text>
              vous n'avez pas de compte? <a routerLink="/register">register</a>
            </ion-text>
            <p>
              <ion-text>
                <a routerLink="/register">mot de passe oublié?</a>
              </ion-text>
            </p>
          </div>
      </ion-item-group>
    </ion-list>
  </ion-row>
</ion-footer>
