<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card (click)="openRadioDetails()">
    <ion-card-content>
      <ion-img class="image-size" src="assets/imgs/radio-mars.png"></ion-img>      
      <div class="controls">
        <ion-icon name="play" class="control-icon" (click)="playRadio()"></ion-icon>
        <ion-icon name="pause" class="control-icon" (click)="pauseRadio()"></ion-icon>
        <ion-icon name="stop" class="control-icon" (click)="stopRadio()"></ion-icon>
        <img src="assets/imgs/live.png" alt="Live" class="card-image">
      </div>
    </ion-card-content>
  </ion-card>
  
  <ion-title>Ecoutez des Podcasts RadioMars !</ion-title>

  <ion-card color="dark" class="podcast-card">
    <ion-card-content>
      <ion-thumbnail slot="start">
        <ion-img class="logo" src="assets/imgs/radio-mars.png"></ion-img>
      </ion-thumbnail>
      <ion-label class="content">
        <h2 class="title">Podcast 1 : The Passenger (LaLaLa)LUM!X </h2>
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card color="dark" class="podcast-card">
    <ion-card-content>
      <ion-thumbnail slot="start">
        <ion-img class="logo" src="assets/imgs/radio-mars.png"></ion-img>
      </ion-thumbnail>
      <ion-label class="content">
        <h2 class="title">Podcast 2 : The Passenger (LaLaLa)LUM!X </h2>
      </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
