<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-title size="large">Liste des pack</ion-title>

  <ion-card *ngFor="let card of cardsData" [routerLink]="['/details', card._id]">
    <img alt="pack" [src]="card.img" />
    <ion-card-header>
      <ion-card-title>{{card.title}}</ion-card-title>
      <ion-card-subtitle>Pub du {{card.startDay}} au {{card.endDay}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>1 semaine: {{card.price_1_week}}DH</p>
      <p>2 semaine: {{card.price_2_week}}DH</p>
    </ion-card-content>
  </ion-card>
</ion-content>
