.form_container{
    display: flex;
    align-items: center;
}
.form_span{
    text-align: center;
    font-size: medium;
    margin-top: 20px;
}
.title_form{
    text-align: center;
    font-size: larger;
    
}
.submit_btn{
    margin-top: 20px;
}